.b-6 {
	background-color: #fff;
}

/*----------*/

.b-6-wrapper {
	padding: 0 20px;
}

/*----------*/

.b-6-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0 43px;
	border-top: 1px solid #cfcdca;
}

/*----------*/

.b-6-item {
	display: block;
}