.b-5 {
	background-color: #fff;
}

/*----------*/

.b-5-wrapper {
	padding: 67px 45px 72px;
}

/*----------*/

.b-5-title {
	text-align: center;
	font-size: 38px;
	line-height: 50px;
	font-weight: bold;
}
.b-5-title__highlighted {
	margin: 0 -3px;
	border-radius: 3px;
	background-color: rgba(221, 218, 212, 0.3);
}

/*----------*/

.b-5-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 45px 0 87px;
}

/*----------*/

.b-5-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 175px;
	border-radius: 3px;
}
.b-5-item_rows_names {
	width: 150px;
}

.b-5-item__col-1 {
	background-color: #eaf2fa;
}
.b-5-item__col-2 {
	background-color: #f8f6e7;
}
.b-5-item__col-3 {
	background-color: #eef8f3;
}
.b-5-item__col-4 {
	background-color: #f7efe9;
}

.b-5-item__header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	text-align: center;
	border-bottom: 1px solid rgba(128, 128, 128, 0.1);
	font-size: 23px;
	line-height: 25px;
}
.b-5-item__header_small {
	font-size: 18px;
	line-height: 23px;
}

.b-5-item__row-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 61px;
	width: 81px;
	margin: 0 auto;
	border-bottom: 1px solid rgba(128, 128, 128, 0.1);
	font-size: 16px;
	line-height: 20px;
}
.b-5-item__row-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 71px;
	font-size: 16px;
	line-height: 20px;
}
.b-5-item__header_name,
.b-5-item__row-1_name,
.b-5-item__row-2_name {
	width: auto;
	justify-content: flex-start;
	margin: 0;
	font-size: 18px;
	border-bottom: none;
}

/*----------*/

.b-5-button {
	display: flex;
	justify-content: center;
	padding: 0 0 0 26px;
}

.b-5-button__arrow-1 {
	position: absolute;
	left: 38px;
	top: -79px;
}
.b-5-button__arrow-2 {
	position: absolute;
	left: 232px;
	top: -79px;
}
.b-5-button__arrow-3 {
	position: absolute;
	left: 342px;
	top: -79px;
}
.b-5-button__arrow-4 {
	position: absolute;
	left: 499px;
	top: -79px;
}