.b-4-wrapper {
	padding: 41px 45px 56px;
}

/*----------*/

.b-4-title {
	text-align: center;
	font-size: 38px;
	line-height: 50px;
	font-weight: bold;
}

/*----------*/

.b-4-list {
	display: flex;
	flex-direction: column;
	padding: 61px 0 0;
}

/*----------*/

.b-4-item {
	display: flex;
	align-items: flex-end;
}
.b-4-item_padding_small {
	padding-bottom: 34px;
}
.b-4-item_padding_big {
	padding-bottom: 75px;
}

.b-4-item__left {
	width: 430px;
}
.b-4-item__right {
	width: 500px;
}

.b-4-item__image {
	display: block;
}
.b-4-item__image_offset_1 {
	margin-left: 87px;
}
.b-4-item__image_offset_2 {
	margin-left: 66px;
}
.b-4-item__image_offset_3 {
	margin-left: 89px;
}

.b-4-item__text {
	font-size: 22px;
	line-height: 32px;
}
.b-4-item__text_offset_1 {
	margin-bottom: -5px;
}
.b-4-item__text_offset_2 {
	margin-bottom: 6px;
}
.b-4-item__text_offset_3 {
	margin-bottom: 10px;
}